---
import { db, Post, desc } from "astro:db";

interface Props {
	post: typeof Post;
	loader: boolean;
}

const { post, loader } = Astro.props;
---

<div
	hx-get={`/partials/posts?cursor=${post.id}`}
	hx-trigger={loader && "revealed"}
	hx-swap={loader && "afterend"}>
	{post.id} - {post.title}
</div>
